*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.App{
    display: flex;
}


.button-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: aqua;
  margin-left: 250px;
  margin-bottom: 10px;
  padding: 16px;
}