*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.App{
    display: flex;
}
.flex-content{
    display: flex;
}


.button-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 200px;
  padding: 16px 86px;
  height: 1000px;
}
.button-content-center{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 0;
  padding: 16px 86px;
  height: 1000px;
}

.button-content-end{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 33px;

}