@media (max-width: 700px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  body {
    overflow-x: hidden;
  }
  .fit {
    width: 100%;
  }
  .start {
    display: none;
  }
  h2 {
    position: absolute;
    left: 20px;
  }
  .end {
    padding: 10px;
    position: relative;
    top: 10px;
    right: 30px;
    float: left;
    display: none;
  }

  .end.active {
    display: block;
    list-style: none;
    text-align: center;
  }

  .container2 {
    display: flex;
    position: relative;
    color: white;
    top: 200px;
    max-width: 500px;
    object-fit: cover;
  }
  .pics {
    position: absolute;
    left: 50px;
    top: 600px;
    margin: 0 auto;
    z-index: 1;
  }
 
  .radius {
    position: relative;
    border-radius: 50%;
    padding: 5px;
    left: -30%;
    float: left;
    width: 50px;
    z-index: 30;
  }

  /* close and open*/

  .plus {
    position: relative;
    left: 15px;
    font-size: 30px;
    color: white;
    height: 30px;
    text-align: center;
    cursor: pointer;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    position: relative;
    top: 55%;
    left: 25%;
    padding: 20px 0;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
  }
  .menu {
    display: none;
    color: white;
    transition: all 0.3s ease-in-out;
  }

  .custom {
    display: block;
  }

  .wraper {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .container5 {
    position: absolute;
    top: 0;
    z-index: 100;
    display: block;
    width: 100vw !important;
    height: auto;
  }
  .menu-active {
    height: 100vh;
    min-height: 180vh !important;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .star {
    position: relative;
    top: 15px;
    color: white;
    border-style: outset;
    border: 1px solid white;
    width: 120px;
    font-weight: 200;
    font-size: 14px;
    font-family: "Crimson Pro", serif;
  }
}
