*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.img_for_header{
        max-width: 28%;

            
        }
.tryit_for_free{
        padding: 5px 20px 5px 20px;
        border: 1px solid red;
        border-radius: 10px;
}


.after_header{
            margin: 0 auto;
            text-align: center;
            max-width: 300px;
}

.get_started{
        padding:5px 20px 5px 20px;
        border: none;
        border-radius: 10px;
        font-size: 19px;
}
.ImgForMockup{
        max-width: 100%;
}

.main_section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;

}

.huge_font{
    font-size: 40px;
}