@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
:root{
  

--Pink: hsl(322, 100%, 66%);
--Light-Pink: hsl(321, 100%, 78%);
--Light-Red: hsl(0, 100%, 63%);



--Very-Dark-Cyan: hsl(192, 100%, 9%);
--Very-Pale-Blue: hsl(207, 100%, 98%);
}
body{
    font-family: 'Open Sans', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.img_for_header {
    max-width: 28%;


}
h1{
    font-family: 'Poppins', sans-serif;
}

.tryit_for_free {
    padding:2px 31px;
    border:  solid var(--Pink);
    border-radius: 28px;
}


.after_header {
    margin: 0 auto;
    text-align: center;
    max-width: 300px;
}

.get_started {
    background-color: var(--Pink);
    color: var(--Very-Pale-Blue);
    border-radius: 28px;
    padding:16px 76px;
    font-size: 17px;
    cursor: pointer;
    border: none;
}

.ImgForMockup {
    max-width: 100%;
}

.main_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10%;

}

.huge_font {
    font-size: 60px;
    text-align: center;
}

.width {
    width: 30px;

}

.icons {
    margin-right: 85px;
}

.grow_together img {
    max-width: 100%;
}

.grow_together {
    padding: 10px;
    text-align: center;
}

.ready_community h1 {
    margin-bottom: 15px;
}

.ready_community {
    padding: 10%;
    text-align: center;
}


input{
        outline: none;
        width: 75%;
        padding: 12px;
}

.btn_subs{
    padding: 10px 20px 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: aqua;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:37.5%;
}

.footer li{
        list-style: none;
}
.footer{
   
    color: aliceblue;
    padding: 10px;
}


@media  (min-width:724px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 3%;
    }
    .header__one{
        font-size: 31px;
    }
    .get_started{
        margin: 30px;
    }
   
    .after_header {
        padding: 5%;
        max-width: 800px;
        text-align: center;
    }
    .after_header  p{
        padding: 4%;
        max-width: 500px;
        margin: 0  auto;
        text-align: center;


    }

    .section___maini{
            display: flex;
            justify-content: center;
    }
    .grow_together{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        max-width: 65%;
        max-height: 325px;
        background-color:white;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 2%;
        text-align: left;
        margin: 0 auto;

    
        

    }
    .grow_together img{
            max-width: 100%;
            padding: 10px;
    }
   
   
    
    .footer{
        background-color:var(--Very-Dark-Cyan);
        color: aliceblue;
        padding: 10%;

    }
    footer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        
    }
    .newsletter{
        max-width: 300px;
    }
    .newsletter p,h2{
        margin-bottom: 10px;
    }
    .btn_subs{
        position: relative;
        top:-55px;
        left:50%;
    }
    .huddle{
        max-width: 300px;

    }
    .huddle p,img{
        margin-bottom: 10px;

    }
    .huddle_logo{
    filter: invert(43%) sepia(16%) saturate(137%) hue-rotate(88deg) brightness(128%) contrast(1119%);

    }
}