*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --pink:hsl(322, 100%, 66%);
    --Very-Pale-Cyan:hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}
body{
    width: 100vw;
    height: 100vh;

}
ul > li {
        list-style: none;
        padding: 20px;
        float: left;
    
}
header{
    background-color: var(--Very-Pale-Cyan);
    background-image: url(./images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom:25px;

}
img{
    max-width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
}
p{padding: 5%;}
.try_forfreebtn{
    padding:5px 10px 5px 10px;
    background-color: white;
    border-radius: 10px;
	border-radius:28px;
	border:1px solid var(--Very-Pale-Cyan);
	display:inline-block;
	cursor:pointer;
	color:var(--Very-Dark-Cyan);
	font-size:17px;
	padding:15px 61px;
	text-decoration:none;

    font-weight: 700;
}
.try_forfreebtn:hover{
    box-shadow: -9px 0px 33px -17px var(--Very-Dark-Cyan);
    
}
.get_startedbtn{
        margin: 20px;
        background-color: var(--pink);
        border-radius:28px;
        border: none;
        display:inline-block;
        cursor:pointer;
        color:var(--Very-Pale-Cyan);
        font-size:20px;
        font-weight: 700;
        padding:16px 70px;
    box-shadow: -9px 0px 33px -17px var(--Very-Dark-Cyan);


}
.get_startedbtn:hover{
    box-shadow: -9px 0px 33px -17px var(--Very-Pale-Cyan);
    
}
.below__header{padding: 7%;}


.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}
.card__one,
    .card__two,
        .card__three
{
    max-width: 320px;
    height: auto;
    background-color:red;
    border-radius: 10px;
    padding: 20px;

}


.card__forfooter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: -45px;
    margin: 0 auto;
    max-width: 310px;
    padding: 10px;
    height: auto;
    background-color:red;
    border-radius: 10px;
}  

ol > li{list-style: none;padding: 10px;}
.for__footer{color: white;}
.icon__forimg{ padding-right: 10px;}

footer{
    margin-top: 20%;
    background-color: var(--Very-Dark-Cyan);
    color: var(--Very-Pale-Cyan);
}




@media  (min-width:724px) {
header{background-image: url(./images/bg-hero-desktop.svg);background-repeat: no-repeat;}
.header{display: flex;}
.for_hd{margin:0px 5px 35px 25px;}
.below__header{display: flex;text-align: left;}
.parag h1{font-size: 30px;padding: 30px;}
.card__one,
    .card__two,
        .card__three{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        max-width: 65%;
        max-height: 325px;
        background-color:red;
        border-radius: 10px;
        padding: 2%;
        text-align: left;
    }
    .card__two{flex-direction: row;}
        .card__three{flex-direction: row-reverse;}
h2{position: relative;left: 15px;}
.padding{padding: 9%;}
.card__forfooter{max-width: 35%;}
.card__forfooter > p{font-size: 20px;font-weight: bold;}
.flex_footer{display: flex;justify-content: space-around;align-items: center;}
}